<% include ./include/header %>
<div class="container">
    <form class="radius" id="login" action="/login" method="post">
        <fieldset>
            <legend>登录</legend>
            <div class="form-body">
                <div class="control-group">
                    <label for="username" class="control-label">用户名</label>

                    <div class="controls">
                        <input type="text" placeholder="Email" id="username" name="username">
                    </div>
                </div>
                <div class="control-group">
                    <label for="password" class="control-label">密码</label>

                    <div class="controls">
                        <input type="password" placeholder="Password" id="password" name="password">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"> 记住我
                        </label>
                        <button type="submit" class="btn btn-success width-80" id="submit">登录</button>
                        <span class="help-inline"><a href="">忘记密码</a></span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<% include ./include/footer %>