<div class="hero-unit">
        <h1>实时，便捷</h1>
        <p>每个程序员都会为年底的抽奖系统发愁，难度不大但又会耗费一定时间，为了摆脱这种窘境，抽疯网是你的不二选择，包括了线上版本，app版本做到了及时推送，欢乐抽奖的目的！</p>
        <p><a class="btn btn-primary btn-large">了解更多 &raquo;</a></p>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>赵涌在线年终抽奖</h2>
          <p>我抽疯我快乐 </p>
          <p><a class="btn" href="#">查看详细 &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>泓盛拍卖年终抽奖</h2>
          <p>让抽奖更刺激吧！让奖品更丰富吧</p>
          <p><a class="btn" href="#">查看详细 &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>万达科技年终抽奖</h2>
          <p>去年1400人的大厅，因为抽奖而沸腾，今年呢？让我们拭目以待！</p>
          <p><a class="btn" href="#">查看详细 &raquo;</a></p>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; Company 2012</p>
      </footer>