<form class="form-signin" method='post' action="/signup">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="input-block-level" placeholder="Name" name="userName">
    <input type="password" class="input-block-level" placeholder="Password" name="password">
    <input type="password" class="input-block-level" placeholder="Password" name="rePassword">
    <input type="text" class="input-block-level" placeholder="Email" name="email">
    <input type="text" class="input-block-level" placeholder="Company" name="company">
    <input type="text" class="input-block-level" placeholder="RealName" name="realName">
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>