<footer class="" id="footer">
    <div class="container">
        <div class="navbar">
            <ul class="nav">
                <li><a href="">服务条款</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">帮助中心</a></li>
            </ul>
            <span class="pull-right" id="copyRight">CopyRight</span>
        </div>
    </div>
</footer>
</body>
</html>