<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <title><%= title %></title>
    <% include ./external %>
</head>
<body>
<header id="header">
    <div class="container">
            <a href="/" id="logo">抽疯网</a>
        <% if(!login) { %>
            <a href="" class="pull-right" id="register">注册</a>
        <% } else{ %>
            <a href="" class="pull-right" id="logout">退出</a>
        <% } %>
    </div>
</header>
