<ul class="" id="left-nav">
    <li><a href="" class="active">账户设置</a></li>
    <li><a href="">人员设置</a></li>
    <li><a href="">奖品设置</a></li>
    <li><a href="">开始抽奖</a></li>
    <li><a href="">获奖名单</a></li>
</ul>